<div class="home-container">
  <div class="introduction">
    <h3>Welcome to the 'Fill in the blanks 1:1'!</h3>
    <p>This app allows you to create your own fill-in-the-blanks quizess.</p>
    <p>You can use this app for any learning purpose.</p>
    <p>The only thing you need is to put a sentence and click where you want it blank.</p>
    <p>Please feel free to play around!</p>
    <%= link_to decks_path do   %>
      <h2 class="btn intro-btn">Enter</h2>
    <% end %>
  </div>
</div>
