<div class="container mt-4">

  <div class="folders-header">
    <h1>Folders(<%= @decks.count %>)</h1>
    <%= link_to new_deck_path do %>
      <div class="create-folder-link">
        <i class="fas fa-folder"></i>
        <p>Create</p>
      </div>
    <% end %>
  </div>


  <div class="cards mt-2">
    <% @decks.each do |deck| %>
      <%= link_to deck_cards_path(deck) do  %>
        <div class="card-category folders-card">
          <h2><%= deck.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
